<div class="container-fluid">
	<div class="col-lg-12">
		<h1 class="col-lg-offset-5">Facilities Not Present in DHIS</h1>
		<br><br>
		<div class="col-lg-2">
			<br><br><br>
			<label for="mflCodeAdd">MFL Code</label>
			<input type="text" name="mflCodeAdd" class="form-control" id="mflCodeAdd" disabled>
			<br>
			<label for="facilityNameAdd">Facility Name</label>
			<input type="text" name="facilityNameAdd" class="form-control" id="facilityNameAdd" disabled>
			<br>				
			<label for="subCountySelect">Sub County</label>
			<select name="subCountySelect" class="form-control" id="subCountySelect" >
			</select>
			<br>				
			<label for="parentIdAdd">Parent ID</label>
			<input type="text" name="parentIdAdd" class="form-control" id="parentIdAdd" disabled>

			<br><br>
			<button id="addFacilityButton" class="btn btn-primary">Add Facility</button>
		</div>

		<div id="Name" class="col-lg-offset-1 col-lg-8">
			<table id="facilitiesNotPresent" class="display table table-bordered table-striped">	
				<thead>
					<tr>
						<th> Facility Name </th>
						<th> MFL Code </th>
						<th> County </th>
						<th> Sub County </th>	
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
	</div>
	<script src="js/myjs.js"></script>
</div>