<div class="container-fluid">
	<div class="col-lg-12">
		<h1 class="col-lg-offset-5">Community Units Not Present in DHIS</h1>
		<br><br>
		<div class="col-lg-2">
			<br><br><br>
			<label for="mclCodeAdd">MFL Code</label>
			<input type="text" name="mclCodeAdd" class="form-control" id="mclCodeAdd" disabled>
			<br>
			<label for="communityUnitNameAdd">Community Unit Name</label>
			<input type="text" name="communityUnitNameAdd" class="form-control" id="communityUnitNameAdd" disabled>
			<br>				
			<label for="subCountySelect">Sub County</label>
			<select name="subCountySelect" class="form-control" id="subCountySelect" >
			</select>
			<br>				
			<label for="parentIdAdd">Parent ID</label>
			<input type="text" name="parentIdAdd" class="form-control" id="parentIdAdd" disabled>

			<br><br>
			<button id="addCommunityUnitButton" class="btn btn-primary">Add Community Unit</button>
		</div>

		<div id="mclName" class="col-lg-offset-1 col-lg-8">
			<table id="communityUnitsNotPresent" class="display table table-bordered table-striped">	
				<thead>
					<tr>
						<th> Community Unit Name </th>
						<th> MCL Code </th>
						<th> Master Facility </th>
						<th> Sub County </th>	
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
	</div>
	<script src="js/myjs.js"></script>
</div>