<div class="container-fluid">
	<div class="col-lg-12">
		<div class="col-lg-2">
			<label for="county">Sub County</label>
			<input type="text" class="form-control" id="county">
			<br>
			<label for="county">Master Facility</label>
			<input type="text" class="form-control" id="subCounty">
			<br><br>
			<button id="compareButtonmcl" class="btn btn-primary"> Compare </button>
		</div>

		<div id="comparechuTable" class="col-lg-offset-1 col-lg-8">
			
		</div>
		
	</div>
	<script src="js/myjs.js"></script>
</div>