<div class="container-fluid">

	<div><h1>Facilities List</h1></div>
	<div class="col-lg-12">
		<div class="col-lg-2">

			<label for="county">County</label>
			<input type="text" class="form-control" id="county">
			<br>				
			<label for="county">Sub County</label>
			<input type="text" class="form-control" id="subCounty">

			<br><br>
			<button id="checkNameButton" class="btn btn-primary">Check Name</button>
		</div>

		<div id="trackfacilityTable" class="col-lg-offset-1 col-lg-8">
			<div>
		<table id="facilitiesTrack" class="display table table-bordered table-striped">	
			<thead>
				<tr>
					<th> Code </th>
					<th> Name </th>
					<th> Unique ID </th>
				</tr>
			</thead>
			<tbody id="tracktableBody">
				
			</tbody>
		</table>
	</div>
		</div>
		
	</div>
	<script src="js/myjs.js"></script>
</div>