<div>
	<table id="noMflCoded" class="display table table-bordered table-striped">	
		<thead>
			<tr>
				<th> Code </th>
				<th> Name </th>
				<th> Sub County </th>
				<th> County </th>				
			</tr>
		</thead>
		<tbody id="tableNoMflFacilityBody">
		</tbody>
	</table>
	<script src="js/myjs.js"></script>
</div>