<div>
	<table id="nomfl_communityunits" class="display">	
		<thead>
			<tr>
				<th> Code </th>
				<th> Name </th>
				<th> Master Facility </th>
				<th> Sub County </th>
				<th> County </th>
				
			</tr>
		</thead>
		<tbody id="tablenomfl_communityunitsBody">
		</tbody>
	</table>
	<script src="js/myjs.js"></script>
</div>