<div class="container-fluid">

	<!-- Functionality to update MFL codes as well added -->
	<div class="col-lg-12">
			
		<ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Update Facility Names</a></li>
            <li><a href="#tab2" data-toggle="tab">Update Facility Codes</a></li>
                            
        </ul>
			
		<div class="col-lg-12 tab-content">
			<br>
			<!-- Tab 1 -->
            <div class="tab-pane active" id="tab1">
				
				<div class="col-lg-2">
			
					<label for="currentNameUpdate">Current Name</label>
					<input type="text" class="form-control" name="currentNameUpdate" id="currentNameUpdate" disabled />
					<br>
					<label for="nameToUpdateTo">New Name</label>
					<input type="text" class="form-control" name="nameToUpdateTo" id="nameToUpdateTo" disabled />
					<br>
					<label for="facilityID">Facility ID</label>
					<input type="text" class="form-control" name="facilityID" id="facilityID" disabled />
					<br>
					<br>
					<button id="updateMflNameButton" class="btn btn-primary">Update Facility Name</button>
				</div>

                <div class="col-lg-10">
                	<br>
                	<!-- Table of facilities with differing MFL names -->                                                        
           			<table id="updateMflNameTable" class="display table table-bordered table-striped">	
						<thead>
							<tr>
								<th> MFL Code </th>
								<th> Name in MFL </th>
								<th> Name in DHIS </th>
								<th> Facility ID </th>
								<th> Parent Sub County </th>	
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table> 
                </div>

            </div>
            
            <!-- Tab 2 -->
            <div class="tab-pane span3" id="tab2">

				<div class="col-lg-4">
			
					<label for="currentMflCodeUpdate">Current MFL Code</label>
					<input type="text" class="form-control" name="currentMflCodeUpdate" id="currentMflCodeUpdate" disabled />
					<br>

					<label for="facilityNameMflCodeUpdate">Name</label>
					<input type="text" class="form-control" name="facilityNameMflCodeUpdate" id="facilityNameMflCodeUpdate" disabled />
					<br>

					<label for="countyUpdateMflCode">County</label>
					<input type="text" class="form-control" name="countyUpdateMflCode" id="countyUpdateMflCode" disabled />
					<br>

					<label for="subCountyUpdateMflCode">Sub-County</label>
					<input type="text" class="form-control" name="subCountyUpdateMflCode" id="subCountyUpdateMflCode" disabled />
					<br>

					<label for="countyUpdateMflCodeSelect">County</label>
					<select name="countyUpdateMflCodeSelect" class="form-control" id="countyUpdateMflCodeSelect" >
					</select>
					<br>

					<label for="subCountyUpdateMflCodeSelect">Sub County</label>
					<select name="subCountyUpdateMflCodeSelect" class="form-control" id="subCountyUpdateMflCodeSelect" >
					</select>
					<br>

					<label for="facilityMflNameUpdateMflCodeSelect">MFL Facility</label>
					<select name="facilityMflNameUpdateMflCodeSelect" class="form-control" id="facilityMflNameUpdateMflCodeSelect" >
					</select>
					<br>

					<label for="newMflCodeUpdate">New MFL Code</label>
					<input type="text" class="form-control" name="newMflCodeUpdate" id="newMflCodeUpdate" disabled />
					<br>

					<label for="mflCodeFacilityIdUpdate">MFL Facility ID</label>
					<input type="text" class="form-control" name="mflCodeFacilityIdUpdate" id="mflCodeFacilityIdUpdate" disabled />
					<br>
					<br>
					<button id="updateMflCodeButton" class="btn btn-primary">Update MFL Code</button>
				</div>

                <div class="col-lg-8">
					<br>
                	<!-- Table of facilities without MFL codes -->
            		<table id="updateMflCodeTable" class="display table table-bordered table-striped">	
						<thead>
							<tr>
								<th> MFL Code </th>
								<th> Name</th>
								<th> Facility ID </th>
								<th> Sub County </th>
								<th> County </th>	

							</tr>
						</thead>
						<tbody>
						</tbody>
					</table> 

                </div>                    
            </div>
              
        </div><!-- End of tab-->

	</div>
</div>
<script src="js/myjs.js"></script>
	