<div class="container-fluid">
	<div class="col-lg-12">
		<div class="col-lg-2">
			<label for="county">Current Name</label>
			<input type="text" class="form-control" name="currentmclNameUpdate" id="currentmclNameUpdate" disabled>
			<br>
			<label for="county">Name To Update To</label>
			<input type="text" class="form-control" name="mclnameToUpdateTo" id="mclnameToUpdateTo" disabled>
			<br>
			<label for="county">Community Unit ID</label>
			<input type="text" class="form-control" name="communityUnitID" id="communityUnitID" disabled>
			<br>
			<button id="updatechuNameButton" class="btn btn-primary">Update CommunityUnit Name</button>
		</div>

		<div id="mclDhisTable" class="col-lg-offset-1 col-lg-8">
			<div>
				<table id="mclNameUnmatched" class="display table table-bordered table-striped">	
					<thead>
						<tr>
							<th> Code </th>
							<th> Name in MCL </th>
							<th> Name in DHIS </th>
							<th> Communityunit ID </th>
							<th> Master Facility </th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<script src="js/myjs.js"></script>
			</div>
		</div>
		
	</div>
	<script src="js/myjs.js"></script>
</div>