<div class="container-fluid">

	<div><h1>Community Units List</h1></div>
	<div class="col-lg-12">
		<!-- <div class="col-lg-2">
			<label for="county">County</label>
			<input type="text" class="form-control" id="county">
			<br>				
			<label for="county">Sub County</label>
			<input type="text" class="form-control" id="subCounty">

			<br><br>
			<button id="checkNameButton" class="btn btn-primary">Check Name</button>
		</div> -->

		<div class="col-lg-12">
			
			<ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">All Community Units</a></li>
                <li><a href="#tab2" data-toggle="tab">Community Units with codes</a></li>
                <li><a href="#tab3" data-toggle="tab">Community without codes</a></li>                
            </ul>
			
			<div class="col-lg-12 tab-content">
				<br>
				<!-- Tab 1 -->
                <div class="tab-pane active" id="tab1">
                    <div class="col-lg-12">
                    <br>
                    	<!-- Table of facilities with Community Unit codes -->
                		<table id="allmflcode_communityunits" class="display table table-bordered table-striped">	
							<thead>
								<tr>
									<th> Code </th>
									<th> Name </th>
									<th> Master Facility </th>
									<th> Sub County </th>
									<th> County </th>
									
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>                                                         
               			
                    </div>
                                   
                </div>
                
                <!-- Tab 2 -->
                <div class="tab-pane span3" id="tab2"> 
                    <div class="col-lg-12">
						<br>
                    	<!-- Table of facilities with Community Unit codes -->
                		<table id="mflcode_communityunits" class="display table table-bordered table-striped">	
							<thead>
								<tr>
									<th> Code </th>
									<th> Name </th>
									<th> Master Facility </th>
									<th> Sub County </th>
									<th> County </th>
									
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table> 

                    </div>                    
                </div>
            
                <!-- Tab 3 -->
                <div class="tab-pane" id="tab3">                    
                    <div class="col-lg-12">
						<br>
                    	<!-- Table of facilities without Community Unit Codes -->
                		<table id="nomfl_communityunits" class="display table table-bordered table-striped">	
							<thead>
								<tr>
									<th> Code </th>
									<th> Name </th>
									<th> Master Facility </th>
									<th> Sub County </th>
									<th> County </th>
									
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>                                                                     
                    </div>
                   
                </div>
            </div><!-- End of tab-->
	
		</div>
		
	</div>
	<script src="js/myjs.js"></script>
</div>