<div class="container-fluid">

	<div><h1 class="col-lg-offset-5">Facilities List</h1></div><br><br>
	<div class="col-lg-12">
		<!-- <div class="col-lg-2">
			
			<div class="radio">
				<label>
					<input type="radio" name="mflRadio" id="mflRadio" value="mfl" checked>
					Facilities with MFL codes
				</label>
				<label>
					<input type="radio" name="mflRadio" id="nomflRadio" value="nomfl">
					Facilities without MFL codes
				</label>
			</div>

			<label for="county">County</label>
			<input type="text" class="form-control" id="county">
			<br>				
			<label for="county">Sub County</label>
			<input type="text" class="form-control" id="subCounty">

			<br><br>
			<button id="checkNameButton" class="btn btn-primary">Check Name</button>
		</div> -->


		<div class="col-lg-12">
			
			<ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">All Facilities</a></li>
                <li><a href="#tab2" data-toggle="tab">Facilities with MFL codes</a></li>
                <li><a href="#tab3" data-toggle="tab">Facilities without MFL codes</a></li>                
            </ul>
			
			<div class="col-lg-9 tab-content">
				<br>
				<!-- Tab 1 -->
                <div class="tab-pane active" id="tab1">
                    <div class="col-lg-9">                                                        
               			<table id="allMfl" class="display table table-bordered table-striped">	
							<thead>
								<tr>
									<th> MFL Code </th>
									<th> Facility Name </th>
									<th> Sub County </th>
									<th> County </th>	
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table> 
                    </div>
                                   
                </div>
                
                <!-- Tab 2 -->
                <div class="tab-pane span3" id="tab2"> 
                    <div class="col-lg-9">
						<br>
                    	<!-- Table of facilities with MFL codes -->
                		<table id="mflCoded" class="display table table-bordered table-striped">	
							<thead>
								<tr>
									<th> MFL Code </th>
									<th> Facility Name </th>
									<th> Sub County </th>
									<th> County </th>	
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table> 

                    </div>                    
                </div>
            
                <!-- Tab 3 -->
                <div class="tab-pane" id="tab3">                    
                    <div class="col-lg-9">
						<br>
                    	<!-- Table of facilities without MFL codes -->
                		<table id="noMflCoded" class="display table table-bordered table-striped">	
							<thead>
								<tr>
									<th> MFL Code </th>
									<th> Facility Name </th>
									<th> Sub County </th>
									<th> County </th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>                                                                     
                    </div>
                   
                </div>
            </div><!-- End of tab-->
	
		</div>
		
		
	</div>
	<script src="js/myjs.js"></script>
</div>
